body{
    margin: 0;
    font-family: "Roboto";
    display: flex;
}

.main{
    width: 50%;
}

.main .header{
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    padding: 10px 20px;
}

.main .header .logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 6px;
}

.main .login{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .login .form{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.main .login .form .header{
    height: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.main .login .form .header span{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.main .login .form #inputs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.main .login .form #inputs input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: rgb(197, 197, 197) solid 2px;
    font-size: 16px;
    outline: none;
}

.main .login .form #inputs input:focus{
    border: #65558f solid 2px;
}

.main .login .form #loginError{
    font-size: 14px;
    color: red;
}

.main .login .form #inputs button{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #65558f;
    text-decoration: none;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.main .login .form #inputs button:hover{
    background-color: #836eb8;
}

.image{
    width: 50%;
}

.image img{
    height: 100%;
    width: 100%;
}